p.content {
	padding-right: 100px;
	font-size: 64px;
	font-weight: bold;
	text-align: center;
	background: red;
	color: black;
	font-family: Helvetica;
	text-transform: uppercase;
	letter-spacing: 3px;
}
p.content {
	padding: 45px;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: black;
	font-family: Helvetica;
	text-transform: uppercase;
}
li a{
    list-style-type: none;
	font-size: 16px;
	font-weight: bold;
	color: black;
	font-family: "Arial Black", Gadget, sans-serif;
	text-transform: uppercase;
	width: 120px;
	margin-left: 115px;
	display: inline-block;
	padding: 0;
}
ul{
	width: 100%;
	background-color: white;
}
ul.nav a:hover { 
	color: white;
	background-color: red !important; 
}
ul.nav a:focus{
	color: white;
	background-color: red !important;
}
img.navbar-text{
	font-family: Helvetica;
	letter-spacing: 2px;
	color: #72a6f7;
	font-size: 64px;
	font-weight: bold;
	justify-content: center;
	display: inline-block;
	text-align: center;
	margin-left: 450px;
	text-transform: uppercase;
	margin-bottom:-10px;
}
.navbar{
	text-align: center;
	display: inline-block;
	background-color: white;
	border-bottom-color: black;
}
.container{
	margin-top: 180px;
	margin-left: 70px;
}
p.content1{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: black;
	font-family: Hevetica;
	text-transform: uppercase;
	margin-left: 200px;
	background: red;
	padding: 45px;
}
p.content2{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
	color: black;
	font-family: Helvetica;
	text-transform: uppercase;
	margin-right: 200px;
	background: red;
	padding: 45px;
}
a.title{
	color: #72a6f7;
}
p.navbar-text a:hover{
	color: #72a6f7;
	text-decoration: none;
}
.carousel-inner{
	margin-bottom: 30px;
	height: 500px;
}

ol{
	color: red !important;
}

img{
	font-family: Helvetica;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: black;
	font-size: 12px;
	font-weight: bold;
	justify-content: center;
	display: inline-block;
	margin-bottom: 10px;
	text-align: center;	
}
p{
	font-family: "Arial Black", Gadget, sans-serif;
	color: black;
	font-size: 15px;
	display: inline-block;
	width: 370px;
	text-align: center;
	margin-left: -15px;
}

h1{
	font-family: Helvetica;
	letter-spacing: 1px;
	color: black;
	font-size: 20px;
	font-weight: bold;
	justify-content: center;
	display: inline-block;
	margin-bottom: 20px;
	text-align: center;	
}

hr{ 
    display: block;
    margin-top: 0.5em;
    margin-bottom:10px;
    margin-left: 80px;
    border-style: inset;
    border-width: 1px;
    color: black;
    width: 75%;
}

img.content3{
	margin-left: -200px;
	margin-top: -10px;

}

h1.content3{
	width: 350px;
}
p.content3{
	width: 350px;
	margin-top:-2px;
	margin-left: -200px;

}
img.content4{
	margin-left: 80px;
	padding-top: 10px;
}

h1{
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing: 1px;
	color: black;
	font-size: 40px;
	font-weight: bold;
	justify-content: center;
	white-space: nowrap;
	margin-top: 10px;
	margin-bottom: 20px;
	text-align: center;
	margin-left:85px;
}

h2.content5{
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing: 1px;
	color: black;
	font-size: 20px;
	font-weight: bold;
	justify-content: center;
	white-space: nowrap;
	margin-top:-5px;
	text-align: center;
	margin-right:80px;
}
h2.content6{
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing: 1px;
	color: black;
	font-size: 20px;
	font-weight: bold;
	justify-content: center;
	white-space: nowrap;
	margin-top:-5px;
	text-align: center;
	margin-left:-90px;
}


img.content3{
	margin-left: -200px;
	margin-top: -10px;

}

h1.content3{
	width: 350px;
	margin-left: -200px;
}
p.content3{
	width: 350px;
	margin-top:-2px;
	margin-left: -200px;

}
.vl {
    border-left: 3px solid grey;
    height: 500px;
}
p.content5{
	margin-left: -50px;
}
p.content6{
	font-family: 'Cantata One', serif;
	font-size: 15px;
	width: 560px;
	text-align: left;
	margin-left: 80px;
}
a:hover{
	text-decoration: none;
}
p.content7{
	font-family: 'Cantata One', serif;
	font-size: 13px;
	width: 560px;
	text-align: left;
	margin-left: 80px;
	margin-bottom:-10px;
}
