html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 10;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	background: black;
	background-image: url("../img/Skeleton GIF.gif");
	background-size: cover;

}
#halloween-text{
  padding-right: 140px;
  margin-left: 250px;
  margin-top:-80px;
}
#haunted-house1{
	padding-top: 50px;
	margin-left: 360px;
	margin-top: -120px;
}
h1{
	color: #FFA500;
	font-size: 200px;
	font-family: 'Open Sans', sans-serif;
	font-family: 'Creepster', cursive;
	padding-top: 150px;
}
h2{
	padding-top: 100px;
	color: #FFA500;
	font-size: 75px;
	font-family: 'Butcherman', cursive;
}
h3{
	background-image: url("https://media.tenor.com/images/92d24e0b6cd961dc618561d7ee3348a1/tenor.gif");
}
p{
	font-family: 'Butcherman', cursive;
	font-family: 'Creepster', cursive;
	font-family: 'Trade Winds', cursive;
	font-size: 30px;
	color: #FFA500;
	width:500px;
	height:200px;
	margin-left: 30px;
	text-align: center;
	
}
.header {
  font-family: 'Creepster';
  font-size: 25px;
  line-height: 0.5;
  background-color: black;
  border: solid;
  border-color: #FFA500;
  position: fixed;
  top: 0;
  width: 100%;
  font-weight: 900;
  top-padding: 25px;
  opacity: 0.75;
}

.header li {
  display: inline-block;
}

.header a {
  display: block;
  color: #FFA500;
  padding-top: 25px;
  padding-bottom: 25px;
}
#header{
	padding-top: 50px;
	margin: 0;
	padding: 10;
}
#dance1{
	padding-top: 50px;
	margin-left: 300px;
	margin-top: -120px;
}
#dance1-text{
	margin-left: 80px;
}
#dance2{
	padding-top: 50px;
	margin-left: 300px;
	margin-top: -120px;
}
#dance2-text{
	margin-left: 80px;
}